@font-face {
  font-family: "BebasNeue";
  src: url("./../fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype")
}

html {
  font-family: sans-serif;
  background-color: #a38064;
  min-width: 1000px;
}

h1 {
  text-align: center;
  font-family: BebasNeue;
  font-size: 4rem;
  margin: 1rem;
  color: white;
  text-shadow: 1px 1px 3px black;
  letter-spacing: 1.5px;
}

h2 {
  text-align: center;
  margin: 0;
  font-family: BebasNeue;
  letter-spacing: 1px;
  font-size: 2rem;
}

main {
  display: flex;
}

.inputs {
  width: 15%;
  margin-left: auto;
  padding: 2rem;
  background-color: #D3D3D3;
}

.inputs > * {
  display: block;
}

input {
  padding: 0.2rem;
  font-size: 1.2rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

select {
  width: 100%;
  padding: 0.2rem;
  font-size: 1.2rem;
  text-align: center;
}

label {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* Buttons */
#convert {
  margin-top: 1rem;
  background-color: #528124;
  color: white;
  border: none;
  padding: 0.5rem;
}

#reset,
#export {
  margin-top: 0.5rem;
  background-color: #696969;
  border: none;
  padding: 0.5rem;
  color: white;
}

#convert:hover {
  cursor: pointer;
  background-color: #0f5411;
}

#export:hover,
#reset:hover {
  cursor: pointer;
  background-color: #2F4F4F;
}

.outputs {
  width: 70%;
  margin-right: auto;
  height: auto;
  background-color: white;
}

table {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

th {
  width: calc(100% / 6);
  padding: 0.5rem;
  background-color: #528124;
  color: white;
  font-family: BebasNeue;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

td {
  height: 2rem;
  background-color: white;
  text-align: center;
}

#message {
  text-align: center;
  padding: 1rem;
  width: 50%;
  margin: 8rem auto;
  color: black;
  background-color: #D3D3D3;
}
